{{define "main"}}
{{ if eq .Section "post"}}

<section class="container text-monospace text-justified mt-3">
	<h2>{{.Title}}</h2>
	<small class="text-secondary mb-5">Posted on {{ .PublishDate.Format "January 2, 2006" }} | {{.ReadingTime}} minute
		read</small>
	<p>{{ .Content }}</p>
	<code>tags:
	  {{- range .Params.tags -}}
	      <span class='badge badge-dark'><a class='text-white' href='{{ "tags/" | absURL }}{{ . | lower }}'>{{ . }}</a></span>
	  {{ end }}
	  </code>
	<div class="container mt-2"
			 id="comments">
		{{ if .Site.Params.disqus }}
		{{ template "_internal/disqus.html" . }}
		{{ else }}
		<small class="mt-1">Please mail your comments to <a
				 href="{{.Site.Params.profile.social.email}}">{{.Site.Params.profile.social.email}}</a></small><br>
		{{end}}
	</div>
</section>

{{else}}

<section class="container text-monospace text-justified mt-3">
	<h2 class="text-center mb-4">{{.Title}}</h2>
	{{ .Content }}
</section>

{{end}}
{{end}}
