<head>
	<meta charset="utf-8">
	<meta name="description" content='{{ .Site.Params.metadesc }}'>
	<meta name="keywords" content='{{ .Site.Params.metakeys }}'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{{ hugo.Generator }}
	<link rel="stylesheet" type="text/css" href='{{ "css/bootstrap.min.css" | absURL }}'>
	<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}</title>
	<nav class="navbar text-center sticky-top bg-white mt-2 mb-1">
		<a href='{{ .Site.BaseURL }}'><span class="btn btn-sm btn-outline-primary">Home</span></a>
		<a href='{{ "about" | absURL }}'><span class="btn btn-sm btn-outline-secondary">About</span></a>
		<a href='{{ "post" | absURL }}'><span class="btn btn-sm btn-outline-success">Blog</span></a>
		<a href='{{ "tags" | absURL }}'><span class="btn btn-sm btn-outline-warning">Tags</span></a>
	</nav>
</head>
