<section class="container text-monospace mt-5">
  <div class="container text-center">
    <img class="rounded-circle"
         src="{{ .Site.Params.profile.avatar | absURL }}"
         title="This blog is run by {{ .Site.Params.profile.author }}"
         width="200px" />
    <h3 class="mt-3">{{ .Site.Title }}</h3>
    <span class='text-secondary'>{{ .Site.Params.about }}</span>
    <br><br>
    <div class="bg-white">
      {{ .Site.Params.profil.social.email}}
      {{ range .Site.Params.profile.social.list }}
      <a href="{{ .url }}">
        <span class="badge badge-pill badge-{{ .badge }}">{{ .title}}</span>
      </a>
      {{ end }}
      <a href="{{ "index.xml" | absURL }}">
        <span class="badge badge-pill badge-light">RSS Feed</span>
      </a>
    </div>
  </div>
</section>
