{{define "main"}}
{{- partial "hero.html" . -}}
<section id="posts" class="container text-center text-monospace mt-4">
	<h3>Recent Posts</h3>
		<div class="container">
			{{range first 5 .Site.RegularPages }}
				{{if eq .Section "post"}}
				<div class="mt-3">
					<h5><a href="{{.Permalink}}">{{.Title}}</a></h5>
					<small>{{ .PublishDate.Format "January 2, 2006" }}</small>
				</div>
				{{end}}
			{{end}}
		</div>
</section>
{{end}}

